@using EntityLayer.Entities
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategoriler</h2>

<br />
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th style="text-align:center;">#</th>
        <th style="text-align:center;">Kategori Adı</th>
        <th style="text-align:center;">İşlemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center;">@item.CategoryId</td>
            <td style="text-align:center;">@item.CategoryName</td>
            <td style="text-align:center;">
                <a href="#" class="btn btn-outline-danger delete-btn" data-id="@item.CategoryId" style="margin-right: 10px;"><i class="fas fa-trash"></i> Sil</a>
                <a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-outline-info"><i class="fas fa-pencil-alt"></i> Güncelle</a>
            </td>
        </tr>
    }
</table>
<a href="/Category/AddCategory" class="btn btn-primary">Yeni Kategori Ekle</a>
@Html.PagedListPager((IPagedList)Model, p => Url.Action("Index", new { p }), new PagedListRenderOptions

{
LiElementClasses = new List<string>
{"page-link"}
})


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    // Sil butonuna tıklandığında SweetAlert ile onay kutusu göster
    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function (event) {
            event.preventDefault();
            const categoryId = this.getAttribute('data-id');

            Swal.fire({
                title: '<span style="font-size: 60%;">Silmek istediğinize emin misiniz?</span>',

                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Evet, sil!',
                cancelButtonText: 'İptal',
                customClass: {
                    popup: 'custom-popup-class'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // Silme işlemi gerçekleştir
                    Swal.fire(
                        '<span style="font-size: 65%;">Silme işlemi gerçekleşti!</span>',
                        '',
                        'success'
                    ).then(() => {
                        // Silme işlemi gerçekleştikten sonra controller'a yönlendir
                        window.location.href = '/Category/DeleteCategory/' + categoryId;
                    });
                }
            });
        });
    });
</script>

<style>
    .custom-popup-class {
        width: 30% !important;
    }

    .pagination-container {
        text-align: center;
        padding: 20px 0;
    }

        .pagination-container .pagination {
            display: inline-block;
        }

            .pagination-container .pagination li {
                display: inline;
                margin: 0 5px;
            }
</style>
